.field {
  margin-top: 100px;
  height: 50%;
}
.floor {
  height: 33%;
}
.room {
  position: relative;
  border: 1px solid gray;
  width: 198px;
  height: 100%;
  float: left;
}
.attackAction {
  position: absolute;
  transform: translate(-50%, -50%);
}
.attackAction2 {
  position: absolute;
  transform: translate(-50%, -50%);
}
.basicAction {
  width: 75px;
}
.turnAction {
  transform: scaleX(-1);
}
.activeRoom {
  background-color: coral;
}
.playerHand {
  margin: 20px;
}
.enemeHand {
  margin: 20px;
}
