.inners {
  border: 1px solid black;
  margin: 0 auto;
  width: 600px;
  height: 450px;
}
.innerTop {
  width: 100%;
  height: 50%;
}
.seat {
  position: relative;
  border: 1px solid black;
  float: left;
  margin: 15px;
  width: 150px;
  height: 200px;
}
.seatUser {
  position: absolute;
  display: inline-block;
  transform: translate(-50%);
  text-align: center;
}
.chatBox {
  border: 1px solid black;
  width: 400px;
  height: 147px;
  padding-bottom: 3px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.chatInput {
  width: 398px;
  height: 30px;
  float: left;
}
