.userStatus {
  float: left;
}
.enemeStatus {
  float: right;
}
.card {
  border: 1px solid black;
  width: 75px;
  height: 100px;
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
}
.cardOpacity {
  opacity: 0;
}
.card:hover {
  background-color: coral;
}
.basicCards {
  margin-top: 110px;
}
.uniqueCards {
  margin-top: 1px;
}
.control {
  border-top: 1px solid black;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.hand {
  margin: 50px;
  float: left;
}
.continueButton {
  margin: 50px;
  float: left;
}
