.player1Status {
  float: left;
}
.player2Status {
  float: right;
}

.progress-bar {
  position: relative;
  width: 200px;
  height: 20px;
}
.progress-hp {
  position: absolute;
  left: 0%;
  height: 20px;
  background-color: rgb(255, 72, 72);
}
.progress-mp {
  position: absolute;
  left: 0%;
  height: 20px;
  background-color: rgb(43, 43, 255);
}
.progress-text {
  position: absolute;
  left: 0%;
  width: 200px;
  height: 20px;
}

.deck {
  margin-top: 90px;
}
.card {
  width: 75px;
  height: 100px;
  display: inline-block;
  margin: 1px;
}
.selectedCard {
  opacity: 0;
}
.lackedMana {
  color: gray;
  opacity: 5;
}
.card:hover {
  background-color: coral;
}
.setHand {
  display: inline-block;
  margin: 20px;
}

.control {
  border-top: 1px solid black;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.continueButton {
  float: left;
  margin: 20px;
}

.battleForm {
  margin: 10px;
  float: left;
}
.battleChatBox {
  border: 1px solid black;
  width: 250px;
  height: 98px;
  padding-bottom: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.battleChatInput {
  width: 248px;
  height: 20px;
  float: left;
}
.continueButton {
  margin-left: 100px;
}
.miniField {
  margin: 20px;
  float: right;
}
.miniRoom {
  border: 1px solid gray;
  width: 44px;
  height: 33px;
  float: left;
}
